body {
  height:100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #fa9b61;
  background-image: linear-gradient(0deg, #fa9b61 0%, #f71c1c 100%);
  overflow: hidden;

}

h1 {
  margin: 0;
}

h6 {
  margin: 0;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 92vh;
  width: 100vw;
  background-color: white;
  margin: 0;


}

.navBar {
  display: flex;
  height:8vh;
  width:100vw;
  background-color: black;
  box-shadow: 0 10px;
}

.logInForm {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 15vw;
  align-self: center;
  margin-top: 4vh;
}

.logInFormSubmitButton {
  margin-top: 2vh;
}

.hamburger {
  align-self: center;
  position: relative;
}

.hamburgerButton {
  background-color: transparent;
  border: 0;
}

.hamburgerButton:hover {
  cursor: pointer;
}

#cocktailorTitle {
  margin-top: 2vh;
  letter-spacing: 1vw;
  font-size: 6em;
  font-family: 'Times New Roman',serif;
  letter-spacing: 5px;
  font-size: 8em;
  font-weight: bold;
  background-image: linear-gradient(
	to right,
	#462523 0,
  #cb9b51 22%,
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
  color:transparent;
  -webkit-background-clip:text;
  text-align: center;
  -webkit-text-stroke: 2px black;

}

.listOfCocktails {
  display: flex;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  justify-content: space-evenly;
  align-self: center;
  background-image: linear-gradient(to top,
  #3F0D12,
  #A71D31
  );
  width: 90vw;
  height: 80vh;
}

.cocktailCard {

}

.cocktailCardImageContainer{
  margin: 2px;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  width: 8vw;
  height:20vh;
  border-radius: 20px;
  border: 1px solid;

}

.imageOfCurrentlySelectedCocktail {
  align-self: center;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.leftCocktail {
  border: 3px solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: beige;
  height: 40vh;
  width: 20vw;
  align-self: flex-end;
  border-radius: 10px;

}

.middleCocktail {
  border: 3px solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: beige;
  height: 40vh;
  width: 20vw;
  align-self: center;
  border-radius: 10px;
}
.rightCocktail {
  border: 3px solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: beige;
  height: 40vh;
  width: 20vw;
  align-self: flex-end;
  border-radius: 10px;
}

.leftArrow {
  margin-top: 5vh;
  height: 4vh;
  width: 2vw;
  background-color: transparent;
  border: 0;
}

.leftArrow:hover {
  cursor: pointer;
}

.rightArrow {
  margin-top: 5vh;
  height: 4vh;
  width: 2vw;
  background-color: transparent;
  border: 0;
}

.rightArrow:hover {
  cursor: pointer;
}

.test {
  color: white;
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  width: 15vw;
  border: 1px solid;
}

.menu > li {
  margin: 2px;
  border: 1px solid;
  border-radius: 5px;
  background-color: white;

}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;


  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}
