@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto|Abril+Fatface|Great+Vibes');

body {
  height:100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #fa9b61;
  background-image: linear-gradient(0deg, #fa9b61 0%, #f71c1c 100%);
  overflow: hidden;
  font-family: Helvetica;

}

h1 {

  margin: 0;

}

h6 {
  margin: 0;
}

li {
  margin: 0;
  font-size: 10px;
}

a {
  text-decoration: none;
}


.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 92vh;
  width: 100vw;
  background-color: white;
  margin: 0;


}

.navBar {
  display: flex;
  justify-content: space-between;
  height:8vh;
  width:100vw;
  background-color: rgb(0, 0, 0);
  box-shadow: 0 10px;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}





.hamburgerButton {
  background-color: transparent;
  border: 0;
  padding:0;
  margin-left: 1vw;
}

.hamburgerButton:hover {
  cursor: pointer;
}

#cocktailorTitle {
  margin-top: 0vh;
  letter-spacing: 1vw;
  font-size: 6em;
  font-family: 'Times New Roman',serif;
  letter-spacing: 5px;
  font-size: 8em;
  font-weight: bold;
  background-image: linear-gradient(
	to right,
	#5b2f2d 0,
  #cb9b51 22%,
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#4e2826 100%
	);
  color:transparent;
  -webkit-background-clip:text;
  text-align: center;
  -webkit-text-stroke: 2px black;




}

.listOfCocktails {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  justify-content: center;
  align-self: center;
  background-image: linear-gradient(to top,
  #3F0D12,
  #A71D31
  );
  width: 90vw;
  height: 90vh;
  flex-flow: wrap;
  overflow: auto;
  border: 3px solid;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

}

.rowOne {
  display: flex;
}

.listOfOneCocktails {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  justify-content: space-evenly;
  align-self: center;
  background-image: linear-gradient(to top,
  #3F0D12,
  #A71D31
  );
  width: 30vw;
  height: 60vh;


}

.imageOfCurrentlySelectedCocktail {
  align-self: center;
  height: 15vh;
  width: 8vw;
  object-fit: cover;
  border-radius: 5px;
  border: 3px solid;
}

.cocktailCardContainer {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  height: 15.55vh;
  width: 8.3vw;
  align-self: center;
  overflow: hidden;
  background-color: beige;
  border-radius: 10px;
  transition: 0.3s;
  border: 2px solid;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

}

.cocktailCardContainer:hover {
  display: flex;
  flex-direction: column;
  height: 38vh;
  width: 20vw;
  transition: 0.3s;
  align-items: center;
}



.cocktailCardWithoutTitle {
  align-self: center;
}

.cocktailCardTextContainer {
  width: 15vw;


}

.cocktailInfo {
  font-family: 'Roboto';
  text-align: left;
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
  align-self: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);



}

.imageAndDescriptionContainer {
  display: flex;
}

#cocktailDescription {
  font-family: 'Times New Roman', Times, serif;
  font-weight: 200;
  font-size: 15px;
  display: block;
  margin-top: 1vh;
  text-align: center;
  font-style: italic;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;

}

.heartMeContainer {
  align-self: center;
}


.leftArrow {
  margin-top: 5vh;
  height: 4vh;
  width: 2vw;
  background-color: transparent;
  border: 0;
}

.leftArrow:hover {
  cursor: pointer;
}

.rightArrow {
  margin-top: 5vh;
  height: 4vh;
  width: 2vw;
  background-color: transparent;
  border: 0;
}

.rightArrow:hover {
  cursor: pointer;
}

.hamburger {
  align-self: center;
}

.dropdown-wrapper {
  margin: 0;
  display: flex;
}

.dropdown-wrapper .dropdown {
  background: #fff;
  width: 200px;
  height: 100px;
  position: absolute;
  top: 50px;
  left: 0;
  font-family: "Open Sans";
  font-size: 22px;
  display: flex;
  align-items: center;
}

.dropdown {
  background-color: white;
}

.navBarListItems {
  color: white;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
  background-image: linear-gradient(to top,
  #3F0D12,
  #A71D31
  );
  align-self: center;
  align-content: space-evenly;
  justify-content: space-evenly;
  text-align: center;
  border:3px solid;
  width: 50vw;
  height: 45vh;
  margin-top: 1vh;
  margin-bottom: 5vh;
  border-radius: 5px;
}
#tags {
  font-weight: 300;
  font-family: Playfair Display;

}

.singularTag {
  cursor: pointer;
  background-color: beige;
  border: 1px solid;
  border-radius: 5px;
  height: 4vh;
  width: max-content;
  margin: 5px;
  text-align: center;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  transition: background-color 400ms;
  padding-bottom: 4px;

}

.singularTag h1 {
  padding: 1px 5px;
}
.singularTag:hover {
  background-color: rgb(196, 188, 188);
}

.pressedTag {
  cursor: pointer;
  background-color: rgb(102, 94, 94);
  border: 2px solid white;
  border-radius: 5px;
  height: 4vh;
  width: max-content;
  margin: 5px;
  text-align: center;
  top: 2px;
  left: 1px;
  box-shadow: none;
  padding-bottom: 4px;
}

.pressedTag h1 {
  padding: 1px 5px;
}

.tagButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20vh;
}

#cocktailName {

  text-align: center;
  font-size: 20px;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-bottom: 10px;

}

#recipe {
  margin-bottom: 5px;
  font-family: 'Roboto';
}

#mixItUp {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 2vh;
  width: 10vw;
  height: 8vh;
  background-color: beige;
  font-family: Playfair Display;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  transition: background-color 1s;
}

#mixItUp:hover {
  background-color: rgb(196, 188, 188);
}


#surpriseMe {
  background-color: beige;
}

#surpriseMe:hover {
  background-color: grey;
}




ul.notActive {
  margin-top: 2.5vh;
  margin-left: 0.6vw;
  padding: 0;
  list-style: none;
  position: absolute;
  height: 0px;
  overflow: auto;
  transition: height 0.6s cubic-bezier(0.87, 0, 0.13, 1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

}

ul.active {
  margin-top: 2.5vh;
  margin-left: 0.6vw;
  padding: 0;
  list-style: none;
  position: absolute;
  height: 9.7vh;
  overflow: auto;
  transition: height 0.6s cubic-bezier(0.87, 0, 0.13, 1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 1px solid;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);




}

.navBarListItems {
  font-family: Roboto;
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
  background-color: grey;
}



.landingPageContainer {
  display: flex;
  flex-direction: column;;
  flex-wrap: wrap;
  background-image: linear-gradient(to top,
  #3F0D12,
  #A71D31
  );
  align-self: center;
  align-content: space-evenly;
  justify-content: space-evenly;
  text-align: center;
  border:3px solid;
  width: 50vw;
  height: 40vh;
  margin-top: 1vh;
  margin-bottom: 40vh;
  border-radius: 5px;
}

.landingPageTextContainer {
  text-align: center;
  height: 15vh;
  width: 32vw;
  align-self: center;
  background-color: beige;
  border-radius: 5px;
  transition: 0.3s;
  border: 3px solid;


}

#landingPageText {
  font-family: 'Playfair Display';
  font-weight: 400;
}

.startButton {
  font-size: 30px;
  align-self: center;
  height: 10vh;
  width: 20vw;
  background-color: beige;
  font-family: 'Playfair Display';
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  transition: background-color 1s;
}

#ifEmpty {
  -webkit-text-stroke: 1px black;
  font-family: Roboto;
  margin-top:40vh;
  font-size: 60px;
  color: white;
}
.startButton:hover {
  background-color: rgb(196, 188, 188);
}

.divider {
  width: 100%;
  border: 0.5px dotted;
}

#anotherOneButton {
  font-size: 20px;
  align-self: center;
  width: 8vw;
  height: 5vh;
  background-color: beige;
  font-family: 'Playfair Display';
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  transition: background-color 1s;

}

.heartMeContainer {
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 30px;
  cursor: pointer;
};
